<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.let.server.domain.mealrating.mapper.MealRatingMapper">

    <resultMap id="mealRatingWithMeal"
               type="com.example.let.server.domain.mealrating.domain.MealRating">
        <id property="mealRatingId" column="meal_rating_id"/>
        <result property="rating" column="rating"/>
        <association property="meal"
                     javaType="com.example.let.server.domain.meal.domain.Meal">
            <id property="mealId" column="meal_id"/>
            <result property="mealDate" column="meal_date"/>
            <result property="mealType" column="meal_type"/>
            <result property="calorie" column="calorie"/>
        </association>
    </resultMap>

    <insert id="save" useGeneratedKeys="true" keyProperty="mealRatingId">
        insert into meal_ratings(meal_rating_id, meal_id, rating)
        values (#{mealRatingId}, #{meal.mealId}, #{rating})
    </insert>

    <select id="findByMealId" resultMap="mealRatingWithMeal">
        SELECT mr.meal_rating_id, mr.meal_id, mr.rating,
               m.meal_date, m.meal_type, m.calorie
        FROM meal_ratings mr
        JOIN meals m ON mr.meal_id = m.meal_id
        WHERE mr.meal_id = #{mealId}
    </select>

    <select id="getMonthlyAverageRating" resultType="java.lang.Double">
        SELECT AVG(rating)
        FROM meal_ratings mr
                 JOIN meals m ON mr.meal_id = m.meal_id
        WHERE YEAR (m.meal_date) = #{year}
          AND MONTH (m.meal_date) = #{month}
    </select>
</mapper>