<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.let.server.domain.menurank.mapper.MenuRankMapper">

    <resultMap id="MenuRankingResultMap" type="com.example.let.server.domain.menurank.dto.response.MenuRankingResponse">
        <result property="menuId" column="menu_id"/>
        <result property="menuName" column="menu_name"/>
        <result property="menuScore" column="menu_score"/>
        <result property="currentRank" column="current_rank"/>
    </resultMap>

    <update id="updateMenuScoreByWilson">
        UPDATE menus
        SET menu_score = (
            CASE
                WHEN like_count + dislike_count = 0 THEN 0
                ELSE (
                    (
                        (like_count + 1.9208) / (like_count + dislike_count)
                            - 1.96 * SQRT(
                                (like_count * dislike_count) / (like_count + dislike_count)
                                    + 0.9604
                                     ) / (like_count + dislike_count)
                        ) / (1 + 3.8416 / (like_count + dislike_count))
                    )
                END
            )
    </update>

    <select id="findMenuRankingsOrderByScoreDesc" resultMap="MenuRankingResultMap">
        SELECT menu_id, menu_name, menu_score, current_rank
        FROM menus
        ORDER BY current_rank
        <if test="reverse">
            DESC
        </if>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="findAllOrderByScoreDesc" resultMap="MenuRankingResultMap">
        SELECT menu_id, menu_name, menu_score, current_rank
        FROM menus
        ORDER BY menu_score DESC
    </select>

    <insert id="saveMenuRankHistory">
        INSERT INTO menu_rank_histories (menu_id, date, rank, rank_diff)
        VALUES (#{menuId}, #{date}, #{rank}, #{rankDiff})
    </insert>

    <select id="getRankDiff" resultType="int">
        select rank_diff
        from menu_rank_histories as mr
        where menu_id = #{menuId}
          AND mr.date = #{date}
    </select>
</mapper>