<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.let_server.domain.menu.mapper.MenuMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="menuId">
        insert into Menu(menu_name,menu_score,like_count,dislike_count,current_rank)
        values (#{menuName},#{menuScore},#{likeCount},#{dislikeCount},#{currentRank})
        ON DUPLICATE KEY UPDATE menu_id = LAST_INSERT_ID(menu_id)
    </insert>

    <select id="findByMenuId" resultType="Menu">
        select menu_id,menu_name,menu_score,like_count,dislike_count,current_rank
        from Menu
        where menu_id = #{menuId}
    </select>

    <update id="updateCurrentRank">
        update Menu set current_rank = #{rank}
        where menu_id = #{menuId}
    </update>

    <select id="findByName" resultType="com.example.let_server.domain.menu.domain.Menu">
        SELECT * FROM Menu WHERE menu_name = #{menuName} LIMIT 1
    </select>

    <update id="increaseLikeCount">
        UPDATE Menu
        SET like_count = like_count +1
        WHERE menu_id = #{menuId}
    </update>

    <update id="increaseDislikeCount">
        UPDATE Menu
        SET dislike_count = dislike_count +1
        WHERE menu_id = #{menuId}
    </update>

    <select id="findAll" resultType="com.example.let_server.domain.menu.domain.Menu">
        SELECT * FROM Menu
    </select>
</mapper>