<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.let_server.domain.eater.mapper.EaterMapper">

    <resultMap id="EaterResponseMap" type="com.example.let_server.domain.eater.domain.Eater">
        <id property="eaterId" column="eater_id"/>
        <result property="eaten" column="eaten"/>
        <association property="user" javaType="com.example.let_server.domain.user.domain.User">
            <id property="userId" column="user_id"/>
            <result property="studentId" column="student_id"/>
            <result property="realName" column="real_name"/>
        </association>
    </resultMap>

    <insert id="insertEater" useGeneratedKeys = "true" keyProperty="eaterId">
        insert into Eater(eater_id,user_id,meal_id,eaten)
        values (#{eaterId}, #{user.userId}, #{meal.mealId}, #{eaten})
    </insert>

    <select id="findByGrade" resultMap="EaterResponseMap" parameterType="long">
        <bind name="lowerBound" value="_parameter * 1000"/>
        <bind name="upperBound" value="(_parameter + 1) * 1000"/>
        SELECT
            e.eater_id AS eater_id,
            e.eaten AS eaten,
            u.user_id AS user_id,
            u.student_id AS student_id,
            u.real_name AS real_name
        FROM Eater e
                 JOIN User u ON e.user_id = u.user_id
        WHERE u.student_id &gt;= #{lowerBound}
        AND u.student_id &lt; #{upperBound}
    </select>

    <select id="getEaterRation" resultType="com.example.let_server.domain.eater.dto.response.EaterRatioResponse">
        SELECT
        base.meal_type,
        IFNULL(ROUND(SUM(CASE WHEN FLOOR(u.student_id / 1000) = 1 AND e.eaten THEN 1 ELSE 0 END) * 100.0 /
        NULLIF(SUM(CASE WHEN FLOOR(u.student_id / 1000) = 1 THEN 1 ELSE 0 END), 0), 0), 0) AS grade1Ration,
        IFNULL(ROUND(SUM(CASE WHEN FLOOR(u.student_id / 1000) = 2 AND e.eaten THEN 1 ELSE 0 END) * 100.0 /
        NULLIF(SUM(CASE WHEN FLOOR(u.student_id / 1000) = 2 THEN 1 ELSE 0 END), 0), 0), 0) AS grade2Ration,
        IFNULL(ROUND(SUM(CASE WHEN FLOOR(u.student_id / 1000) = 3 AND e.eaten THEN 1 ELSE 0 END) * 100.0 /
        NULLIF(SUM(CASE WHEN FLOOR(u.student_id / 1000) = 3 THEN 1 ELSE 0 END), 0), 0), 0) AS grade3Ration
        FROM (
        SELECT '조식' AS meal_type
        UNION ALL SELECT '중식'
        UNION ALL SELECT '석식'
        ) base
        LEFT JOIN Meal m ON base.meal_type = m.meal_type
        LEFT JOIN Eater e ON m.meal_id = e.meal_id
        LEFT JOIN User u ON e.user_id = u.user_id
        WHERE DATE(m.meal_date) = #{mealDate}
        <if test="mealType != null">
            AND m.meal_type = #{mealType}
        </if>
        GROUP BY base.meal_type
        ORDER BY FIELD(base.meal_type, '조식', '중식', '석식')
    </select>

    <select id="getNotEaterCount" resultType="int">
        SELECT COUNT(*)
        FROM Eater e
                 JOIN Meal m ON e.meal_id = m.meal_id
        WHERE m.meal_type = #{mealType}
          AND DATE(m.meal_date) = #{mealDate}
          AND e.eaten = FALSE
    </select>

    <select id="getEaterRationMonthly" resultType="com.example.let_server.domain.eater.dto.response.EaterRatioResponse">
        SELECT
        base.meal_type,
        IFNULL(ROUND(SUM(CASE WHEN FLOOR(u.student_id / 1000) = 1 AND e.eaten THEN 1 ELSE 0 END) * 100.0 /
        NULLIF(SUM(CASE WHEN FLOOR(u.student_id / 1000) = 1 THEN 1 ELSE 0 END), 0), 0), 0) AS grade1Ration,
        IFNULL(ROUND(SUM(CASE WHEN FLOOR(u.student_id / 1000) = 2 AND e.eaten THEN 1 ELSE 0 END) * 100.0 /
        NULLIF(SUM(CASE WHEN FLOOR(u.student_id / 1000) = 2 THEN 1 ELSE 0 END), 0), 0), 0) AS grade2Ration,
        IFNULL(ROUND(SUM(CASE WHEN FLOOR(u.student_id / 1000) = 3 AND e.eaten THEN 1 ELSE 0 END) * 100.0 /
        NULLIF(SUM(CASE WHEN FLOOR(u.student_id / 1000) = 3 THEN 1 ELSE 0 END), 0), 0), 0) AS grade3Ration
        FROM (
        SELECT '조식' AS meal_type
        UNION ALL SELECT '중식'
        UNION ALL SELECT '석식'
        ) base
        LEFT JOIN Meal m ON base.meal_type = m.meal_type
        LEFT JOIN Eater e ON m.meal_id = e.meal_id
        LEFT JOIN User u ON e.user_id = u.user_id
        WHERE MONTH(m.meal_date) = #{month} AND YEAR(m.meal_date) = #{year} AND m.meal_type = #{mealType}
        GROUP BY base.meal_type
        ORDER BY FIELD(base.meal_type, '조식', '중식', '석식')
    </select>
</mapper>